{% extends 'base.html' %}
{% block content %}
    <main>
        <section id="create">
            <div class="form">
                <h2>Registration Form</h2>
                <form method="post" action="{% url 'sign-up' %}" enctype="multipart/form-data">
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit">Create Account</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
